@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

html, body, div, span, h1, h2, h3, h4, h5, h6, p,
a, em, strong, ol, ul, li, form, footer, header,
menu, nav, title {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

body{
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
}

header {
    width: 100%;
    height: 15vh;
    background-color: rgb(55, 55, 55);
    color: white;
    display: flex;
    align-items: center;
}

.pageTitle {
    font-size: 7vh;
    font-weight: 700;
    margin-left: 20px;
}

.middleContainer {
    display: flex;
    height: 75vh;
    width: 100%;
}

.sidebar {
    background-color: rgb(210, 210, 210);
    width: 20vw;
}

.projectsTitle {
    text-align: center;
    font-size: 1.5rem;
    font-weight: 600;
    padding-bottom: 1rem;
    border-bottom: 1px solid black;
    margin: 0 2rem 0 2rem ;
}

.projectsContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
}

.projectDiv {
    margin-top: .5rem;
    display: flex;
    width: 90%;
    justify-content: space-between;
    align-items: center;
    padding: 0 5px 0 5px;
    height: 2rem;
    border-radius: 10px;
}

.projectDiv:hover{
    background-color: aliceblue;
}

.deleteProBtn{
    border: none;
    cursor: pointer;
    border-radius: 3px;
    background-color: rgb(55, 55, 55);
    color: white;
    font-weight: 100;
    font-family: 'Quicksand', sans-serif;
}

.btnContainer{
    display: flex;
    justify-content: center;
    margin-top: .5rem;
}

.addProject {
    font-family: 'Quicksand', sans-serif;
    cursor: pointer;
    background-color: aliceblue;
    color: black;
    border: none;
    height: 2.5rem;
    width: 70%;
    border-radius: 10px;
}

main {
    background-color: rgb(150, 150, 150);
    width: 80vw;
    color: white;
    display: flex;
    flex-direction: column;
}

.projectContent, .taskContainer {
    margin: 1rem 0 1rem 7rem;
}

.projectTitle{
    font-size: 5vh;
    font-weight: 700;
}

.taskBtn{
    font-family: 'Quicksand', sans-serif;
    cursor: pointer;
    background-color: aliceblue;
    color: black;
    border: none;
    height: 1.75rem;
    width: 10%;
    border-radius: 5px;
}

.newTask {
    margin-top: .5rem;
    display: flex;
    width: 70%;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px 0 10px;
    height: 3rem;
    border-radius: 10px;
    background-color: aliceblue;
}

.taskName {
    color: black;
    font-size: 1.25rem;
}

.done{
    border: none;
    cursor: pointer;
    border-radius: 10px;
    background-color: rgb(55, 55, 55);
    color: white;
    font-weight: 100;
    font-family: 'Quicksand', sans-serif;
    width: 15%;
    height: 70%;
}

footer {
    height: 10vh;
    width: 100%;
    color: white;
    background-color: rgb(55, 55, 55);
    display: flex;
    justify-content: center;
    align-items: center;
}

.credits {
    font-weight: 200;
}